{% extends "home/home.html" %}

{% block content %}

<h2>Men Shoes Categories :</h2>
	<div >
		
		<div id="csl_shoes" class="shoes-category">
			<img alt="" src="{% url 'home' %}statics/Images/shoes/men-shoes.jpg" width="200">
			Casual Shoes
		</div>
		<div id="sneaker" class="shoes-category">
			<img alt="" src="{% url 'home' %}statics/Images/shoes/men-sneaker.jpg" width="">
			Sneakers
		</div>
		<div id="formal" class="shoes-category">Formal Shoes</div>
		<div id="running" class="shoes-category">Running Shoes</div>
		<div id="sandal" class="shoes-category">Sandals</div>
		<div id="floater" class="shoes-category">Floaters</div>
		<div id="slipper" class="shoes-category">Slippers</div>
		<div id="flip" class="shoes-category">Flipflops</div>
		<div id="boot" class="shoes-category">Boots</div>
		<div id="outdoor" class="shoes-category">Outdoor & Hiking</div>
		<div id="football" class="shoes-category">Football Shoes</div>
		<div id="basket" class="shoes-category">Basketball shoes</div>
	</div>
{% endblock %}