{% extends "home/home.html" %}

{% block content %}

<h2>
{% if MainCat %}
 	{{ MainCat|capfirst }} --> 
{% endif %}
{% if SubCat %}
 	{{ SubCat|capfirst }}
{% endif %} 

 </h2>
	<div >
		
		<!-- div id="csl_shoes" class="shoes-category">
			<img alt="" src="{% url 'home' %}statics/Images/shoes/men-shoes.jpg" width="200">
			Casual Shoes
		</div>
		<div id="sneaker" class="shoes-category">
			<img alt="" src="{% url 'home' %}statics/Images/shoes/men-sneaker.jpg" width="">
			Sneakers
		</div-->
		{% if Categories %}
			{% for subCategory in Categories %}
				{% if " " in subCategory.CategoryName %}
					
				{% endif %} 
			 	<a href="{{ subCategory.CategoryName|lower }}">
			 		<div class="shoes-category">{{ subCategory.CategoryName }}
			 		<img alt="" src="{% url 'home' %}statics/{{ subCategory.Picture }}" width="150" height="180">
			 		</div>
			 	</a>
			 {% endfor %}	
		{% endif %}
		{% if Categories = none %}
			{% for subCategory in subCategories %}
				{% for sublnk, subCat in subCategory.items %}
					<a href="{{ sublnk|lower }}"><div class="shoes-category">{{ subCat }}</div></a>
				{% endfor %}
			{% endfor %}
		{% endif %}
		
	</div>
{% endblock %}