

body { 
	margin-top: 0px; 
	margin-right: 100px; 
	margin-bottom: 0px; 
	margin-left: 100px;
	color: #878e83;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 10pt; 
}

a {
	text-decoration: none; 
}
/*a:visited 
{
	color: #878e83; 
	text-decoration:none;
}

a:hover {color: blue;}
*/
.mainmenu {
	margin:6px 20px 0px 10px;
	float:left;
}

.searchicondiv {
	float:left;
	padding:30px 0px 0px 75px;	
}

.search_txt {
	border:1px solid #bbbbbb;
	height:25px; 
	width:350px;
	border-radius: 5px;
	color: #878e83;
	behavior: url(/statics/css/border-radius.htc);
}
.searchdiv {
	float:left;
	align:right;
	padding:30px 0px 0px 0px;
	width:350px;
}

.searchitem {
	background-image:url(../Images/logo/search_image.png);
	background-size: contain;
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	z-index:-1;
	
}

#menuheading {
	/*margin:100px 0px 0px 0px;*/
	border:1px solid #bbbbbb;
	height:30px;
	border-radius: 5px;
	cursor: pointer;
	behavior: url(/statics/css/border-radius.htc);
	background-color:#FFFFFF;
}

#newin-category {
	border:1px solid #bbbbbb; 
	z-index: 100; 
	background-color:#FFFFFF;
	border-radius: 5px; 
	position:absolute; 
	width:60%;
}

#men-category {
	margin:0px 0px 0px 70px;
	border:1px solid #bbbbbb; 
	z-index: 100; 
	background-color:#FFFFFF;
	position:absolute; 
	width:60%;
}

#mensub-category {
	margin:0px 0px 0px 0px;
	flaot:left;
	cursor: pointer;
	background-color:#FFFFFF;
}

.menitemlink {
	padding:10px;
	width:80px;
	height:25px;
	background-color:#FFFFF1;
	border-right:1px solid #bbbbbb;
}

.selectmenu {
	padding:10px;
	border:1px solid #bbbbbb;
	border-right:none;
	border-left:none;
	width:80px;
	background-color:#FFFFFF;
	background-image:url(/statics/Images/right_direction.png);
	background-repeat:no-repeat;
	background-size:40px 70px;
	background-position: right;
}

.deselectmenu {
	padding:10px;
	width:80px;
	background-color:#FFFFF1;
	border-right:1px solid #bbbbbb;
}

#sub-category {
	float:left;
	margin:0px 60px 20px 20px;
	cursor: pointer;
}

.shoes-category {
	float:left;
    border:1px solid #bbbbbb;
    height : 200px;
    width : 200px;
    margin-right:30px;
    margin-bottom:20px;
}

.tableclass {
	border:0; 
	border-collapse:collapse;
}

.tdclass {
    vertical-align: top;
}

.item {
	padding:10px;
}

.bold-font {
	font-weight:bold
}
.content {
	color: #000000;
}
.err_msg {
	color: red;
}

.fieldlength {
	width:250px;
}

.textboxSearch{ 
	background: #F1F1F1 url(/statics/Images/logo/search_logo.png) no-repeat;
	background-position: 5px 8px !important;
	padding: 5px 10px 10px 25px;
	width: 300px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
} 

.textbox{ 
	background: #F1F1F1 url(/statics/Images/logo/input-text-40.png) no-repeat;
	background-position: 5px -7px !important;
	padding: 10px 10px 10px 25px;
	width: 170px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px; */
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
}

.email {
	width: 270px;
}

.textbox:focus { 
	background-color: #FFF; 
	border-color: #E8C291; 
	outline: none; 
	-moz-box-shadow: 0 0 0 1px #e8c291 inset; 
	-webkit-box-shadow: 0 0 0 1px #E8C291 inset; 
	box-shadow: 0 0 0 1px #E8C291 inset; 
}

.password {
	background-position: 5px -56px !important;
}
.signupform {
	display:block;
}

#signup .signupform label.error {
	color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 25px;
    padding: 0;
    text-align: left;
    width: 220px;
}

.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #50718F;
  background-image: -webkit-linear-gradient(top, #527492 0%, #7a848e 48%, #50718F 49%, #50718F 82%, #5a7fa1 100%);
  background-image: -moz-linear-gradient(top, #527492 0%, #7a848e 48%, #50718F 49%, #50718F 82%, #5a7fa1 100%);
  background-image: -o-linear-gradient(top, #527492 0%, #7a848e 48%, #50718F 49%, #50718F 82%, #5a7fa1 100%);
  background-image: -ms-linear-gradient(top, #527492 0%, #7a848e 48%, #50718F 49%, #50718F 82%, #5a7fa1 100%);
  border-color: hsl(0, 0%, 44%);
  -webkit-box-shadow: inset 0 0 1px 1px #7192b0, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #7192b0, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #7192b0, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #2b3d4e;
  -moz-text-shadow: 1px 1px 1px #2b3d4e;
  -o-text-shadow: 1px 1px 1px #2b3d4e;
  text-shadow: 1px 1px 1px #2b3d4e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7.199999999999999px 18px 7.199999999999999px 18px;
}

.shiny-button strong {
  letter-spacing: 1px;
  font-size: 15px;
}

.shiny-button:hover {
  color: #FFFFFF;
  background-color: #557999;
  background-image: -webkit-linear-gradient(top, #577c9c 0%, #818c95 48%, #557999 49%, #557999 82%, #6287a8 100%);
  background-image: -moz-linear-gradient(top, #577c9c 0%, #818c95 48%, #557999 49%, #557999 82%, #6287a8 100%);
  background-image: -o-linear-gradient(top, #577c9c 0%, #818c95 48%, #557999 49%, #557999 82%, #6287a8 100%);
  background-image: -ms-linear-gradient(top, #577c9c 0%, #818c95 48%, #557999 49%, #557999 82%, #6287a8 100%);
  border-color: hsl(0, 0%, 47%);
  -webkit-box-shadow: inset 0 0 1px 1px #7797b4, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #7797b4, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #7797b4, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #314557;
  -moz-text-shadow: 1px 1px 1px #314557;
  -o-text-shadow: 1px 1px 1px #314557;
  text-shadow: 1px 1px 1px #314557;
}

.shiny-button:active {
  color: #FFFFFF;
  background-color: #4b6985;
  background-image: -webkit-linear-gradient(top, #47647e 0%, #50718F 100%);
  background-image: -moz-linear-gradient(top, #47647e 0%, #50718F 100%);
  background-image: -o-linear-gradient(top, #47647e 0%, #50718F 100%);
  background-image: -ms-linear-gradient(top, #47647e 0%, #50718F 100%);
  padding: 8.2px 18px 6.199999999999999px 18px;
}

.prod_info {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 10pt;
	margin-left:250px;
	color: black;
}

/* smart image enlarger starts here */
/* If your images are not linking to other pages leave the links as <a href="#nogo"> Otherwise enlarger won't work in IE6 */

.ienlarger {
	float: left;
	clear: none; /* set to left or right if needed */
	padding-bottom: 5px; /* space between thumbs. Don't change this to margin */
	padding-right: 5px; /* space between thumbs and wrapping text when there is any text around it */
	height:200px;
	width:200px;
	border-style:solid;
	border-width:1px;
}

.ienlarger a { 
	display:block;
	text-decoration: none;
/* add cursor:default; to this rule to disable the hand cursor */
}

.ienlarger a:hover{ /* don't move this positioning to normal state */
 	position:relative;
}

.ienlarger span img {
	border: 1px solid #FFFFFF; /* adds a border around the image */
	margin-bottom: 8px; /* pushes the text down from the image */
}

.ienlarger a span {  /* this is for the large image and the caption */
	position: absolute;
	display:none;
	color: #FFCC00; /* caption text colour */
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; /* caption text size */
	background-color: #000000;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.ienlarger img { /* leave or IE puts a border around links */
border-width: 1;
}

.ienlarger a:hover span { 
	display:block;
	top: 50px; /* means the pop-up's top is 50px away from thumb's top */
	left: 90px; /* means the pop-up's left is 90px far from the thumb's left */
	z-index: 100;
	
/* If you want the pop-up open to the left of thumb, remove the left: 90px; and add  
right: 90px; This would mean the right side of the pop-up is 90px far from the right side of thumb */	

/* If you want the pop-up open above the thumb, remove the top: 50px; and add  
bottom: 50px; This would mean the bottom of the pop-up is 50px far from the bottom of thumb */	

/* add cursor:default; to this rule to disable the hand cursor only for the large image */
}

.resize_thumb {
	width: 200px; /* enter desired thumb width here */
	height : auto;
}

.resize_large {
	width: 400px; /* enter desired thumb width here */
	height : auto;
}

/* smart image enlarger ends here */

.cart_cnt_shp {
	margin-top: 20px;
	float: left;
	background: url(/statics/Images/logo/left_arrow.png) no-repeat;
	background-size: contain;
	background-repeat:no-repeat;
	width: 30px;
	height: 20px;
	z-index:-1;	
}

.cart_line {
	background: #ffffff no-repeat scroll center; 
	margin-left: 0px; 
	margin-right: 15em; 
	margin-top: 2em; 
	margin-bottom: 1em;
	width:50em;
	height:.05em;	
}

.cart_heading {
	margin-top:20px;
	margin-left:300px;
	margin-right: 700px;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
	
}

.cart{
	/* border:1px solid #bbbbbb;
	height:25px; 
	width:100px;
	border-radius: 5px;
	color: black;
	font-size:14px;
	behavior: url(/statics/css/border-radius.htc); */
	
}